@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf")
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/Roboto-Bold.ttf")
}