@import "../../styles/mixins";

.welcome {
    @include absoluteFill();

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;

    .content {
        padding: 40px;
        font-size: 40px;
    }

}