@mixin animation-fadein($duration) {
    animation: fadein $duration;
}

@mixin animation-fadein-delay($duration, $delay) {
    @include animation-fadein($duration);
    animation-delay: $delay;
}

@mixin animation-pulse($cycleDuration) {
    animation: pulse $cycleDuration;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: .9;
    }
    100% {
        opacity: 0.8;
    }
}