@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absoluteFill() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}