@import "styles/mixins";
@import "styles/materialUI";

html, body {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
}

div#root * {
    box-sizing: border-box;
}

div, input, button, select {
    font-family: 'Roboto', sans-serif;
}